[Desktop Entry]
Name=tulliana2
Name[tr]=tulliana2

X-KDE-PluginInfo-Name=tulliana2
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND