[Desktop Entry]
Name=tulliana-pink
Name[tr]=tulliana-pink

X-KDE-PluginInfo-Name=tulliana-pink
X-KDE-PluginInfo-Author=Muhterem Demiray
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3