[Desktop Entry]
Name=sapphire-gato
Name[tr]=sapphire-gato

X-KDE-PluginInfo-Name=sapphire-gato
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND