[Desktop Entry]
Name=sebo3
Name[tr]=sebo3

X-KDE-PluginInfo-Name=sebo3
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND