[Desktop Entry]
Name=Izmir clock tower
Name[tr]=izmir saat kulesi
Name[es]=Izmir torre del reloj
Name[de]=Izmir Uhrturm

X-KDE-PluginInfo-Name=Izmir clock tower
X-KDE-PluginInfo-Author=Serpil Borlu
X-KDE-PluginInfo-Email=@serpilborlu
X-KDE-PluginInfo-License=Creative Commons