[Desktop Entry]
Name=Cat model of İstanbul
Name[tr]=Pisi Model İstanbul

X-KDE-PluginInfo-Name=Cat model of İstanbul
X-KDE-PluginInfo-Author=Ali Aydın
X-KDE-PluginInfo-Email=poyraz76@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA