[Desktop Entry]
Name=sebo4
Name[tr]=sebo4

X-KDE-PluginInfo-Name=sebo4
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND