[Desktop Entry]
Name=sapphire-red
Name[tr]=sapphire-kızıl

X-KDE-PluginInfo-Name=sapphire-red
X-KDE-PluginInfo-Author=SaPpHiRe_GD
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3