[Desktop Entry]
Name=sapphire4
Name[tr]=sapphire4

X-KDE-PluginInfo-Name=sapphire4
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND