[Desktop Entry]
Name=tayfun-spring
Name[tr]=tayfun-bahar

X-KDE-PluginInfo-Name=tayfun-spring
X-KDE-PluginInfo-Author=Tayfun
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3