[Desktop Entry]
Name=hüzme
Name[tr]=hüzme

X-KDE-PluginInfo-Name=hüzme
X-KDE-PluginInfo-Author=Mehmet Sütcü
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3