[Desktop Entry]
Name=Izmir Kordon
Name[tr]=İzmir Kordon

X-KDE-PluginInfo-Name=Izmir clock tower
X-KDE-PluginInfo-Author=Ömer Göçmenler
X-KDE-PluginInfo-Email=@omergocmenler
X-KDE-PluginInfo-License=Creative Commons