[Desktop Entry]
Name=aslanon8
Name[tr]=aslanon8

X-KDE-PluginInfo-Name=duvarkagidi4
X-KDE-PluginInfo-Author=Onur Aslan
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3