[Desktop Entry]
Name=sapphire8
Name[tr]=Asapphire8

X-KDE-PluginInfo-Name=sapphire8
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND