[Desktop Entry]
Name=sapphire-wall_magenta
Name[tr]=sapphire-duvar_magenta

X-KDE-PluginInfo-Name=sapphire-wall_magenta
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND