[Desktop Entry]
Name=sapphire6
Name[tr]=sapphire6

X-KDE-PluginInfo-Name=sapphire6
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND