[Desktop Entry]
Name=sapphire-wall_blue
Name[tr]=sapphire-duvar_mavi

X-KDE-PluginInfo-Name=sapphire-wall_blue
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND