[Desktop Entry]
Name=Cartoon Lily
Name[tr]=Cartoon Lily

X-KDE-PluginInfo-Name=Cartoon Lily
X-KDE-PluginInfo-Author=groni
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3