[Desktop Entry]
Name=sebo-3D-1
Name[tr]=sebo-3D-1

X-KDE-PluginInfo-Name=sebo-3D-1
X-KDE-PluginInfo-Author=Sebo
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3