[Desktop Entry]
Name=sapphire-orange
Name[tr]=sapphire-orange

X-KDE-PluginInfo-Name=sapphire-orange
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND