[Desktop Entry]
Name=no
Name[tr]=no

X-KDE-PluginInfo-Name=no
X-KDE-PluginInfo-Author=Serdar Soytetir
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3