[Desktop Entry]
Name=golge
Name[tr]=golge

X-KDE-PluginInfo-Name=golge
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND