[Desktop Entry]
Name=golge
Name[tr]=golge

X-KDE-PluginInfo-Name=golge
X-KDE-PluginInfo-Author=Golge
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3