[Desktop Entry]
Name=tayfun2
Name[tr]=tayfun2

X-KDE-PluginInfo-Name=tayfun2
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND