[Desktop Entry]
Name=tayfun-pier
Name[tr]=tayfun-iskele

X-KDE-PluginInfo-Name=tayfun-pier
X-KDE-PluginInfo-Author=Tayfun
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3