[Desktop Entry]
Name=Hagia Sophia Museum
Name[tr]=Ayasofya Müzesi

X-KDE-PluginInfo-Name=Hagia Sophia Museum
X-KDE-PluginInfo-Author=Ali Aydın
X-KDE-PluginInfo-Email=poyraz76@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA