[Desktop Entry]
Name=Izmir Alsancak
Name[tr]=İzmir Alsancak

X-KDE-PluginInfo-Name=Izmir Alsancak
X-KDE-PluginInfo-Author=İbrahim Yeşiltepe
X-KDE-PluginInfo-Email=@ibrahimyesiltepe
X-KDE-PluginInfo-License=Creative Commons