[Desktop Entry]
Name=barkod
Name[tr]=barkod

X-KDE-PluginInfo-Name=barkod
X-KDE-PluginInfo-Author=Onur Göçer
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3