[Desktop Entry]
Name=aslanon11
Name[tr]=aslanon11

X-KDE-PluginInfo-Name=gecce
X-KDE-PluginInfo-Author=Onur Aslan
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3