[Desktop Entry]
Name=Red Tulips
Name[tr]=Kırmızı Laleler

X-KDE-PluginInfo-Name=Red Tulips
X-KDE-PluginInfo-Author=Ali Aydın
X-KDE-PluginInfo-Email=poyraz76@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA