[Desktop Entry]
Name=istanbul
Name[tr]=istanbul

X-KDE-PluginInfo-Name=istanbul
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND