[Desktop Entry]
Name=sapphire-wall
Name[tr]=sapphire-wall

X-KDE-PluginInfo-Name=sapphire-wall
X-KDE-PluginInfo-Author=SaPpHiRe_GD
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3