[Desktop Entry]
Name=aslanon3
Name[tr]=aslanon3

X-KDE-PluginInfo-Name=aslanon3
X-KDE-PluginInfo-Author=Onur Aslan
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3