[Desktop Entry]
Name=Maiden's Tower
Name[tr]=Kız Kulesi

X-KDE-PluginInfo-Name=Maiden's Tower
X-KDE-PluginInfo-Author=Ali Aydın
X-KDE-PluginInfo-Email=poyraz76@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA