[Desktop Entry]
Name=Autumn
Name[tr]=Sonbahar

X-KDE-PluginInfo-Name=Autumn
X-KDE-PluginInfo-Author=Ali Aydın
X-KDE-PluginInfo-Email=poyraz76@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA