[Desktop Entry]
Name=sapphire-minimal-verde
Name[tr]=sapphire-minimal-verde

X-KDE-PluginInfo-Name=sapphire-minimal-verde
X-KDE-PluginInfo-Author=SaPpHiRe_GD
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=LGPLv3