[Desktop Entry]
Name=tulliana1
Name[tr]=tulliana1

X-KDE-PluginInfo-Name=tulliana1
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND