[Desktop Entry]
Name=sapphire-minimal-azul
Name[tr]=sapphire-miniimal-azul

X-KDE-PluginInfo-Name=sapphire-minimal-azul
X-KDE-PluginInfo-Author=KDE
X-KDE-PluginInfo-Email=info@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND