[Desktop Entry]
Name=Reflection
Name[tr]=Yansıma

X-KDE-PluginInfo-Name=Reflection
X-KDE-PluginInfo-Author=Ali Aydın
X-KDE-PluginInfo-Email=poyraz76@pisilinux.org
X-KDE-PluginInfo-License=Creative Commons BY-NC-SA